.form-entry__horizontal {
	display: flex;
	flex-direction: row;
}

.relations {
	display: flex;
	flex-direction: column;

	margin-top: 1em;
}
	.relations-title {
		font-weight: bold;
	}
	.relations-row {
		display: flex;
		flex-direction: row;
	}